@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@source "./**/*.vue";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-surface-100: #0A1332;
    --color-surface-400: #332DDE;
    --color-surface-500: #4A44F6;
}

body {
    background-color: var(--color-surface-100);
    color: white;
    font-family: "Roboto Condensed", sans-serif;
}

.categories {
    display: flex;
    width: 100vw;
    height: 100dvh;
}

.categories li {
    flex: 1 1 100%;
}

.category > h2,
.category > ul > li {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    text-align: center;
    height: calc(100vh / 6);
    font-size: 5vw;
}

.category > h2 {
    font-size: 2vw;
    line-height: 1.25;
    border: 2px solid var(--color-slate-950);
}

.category > h2 {
    font-weight: 400;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-800);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
